body {
  margin: 0 5em;
  font-family: "Lucida Grande", Arial, Serif;
  color: #473E3F;
}

.flow {
    display: flex;
}

.flow .title {
  height: auto;
  width: auto;
}

.flow .menu {
  height: 36px;
  width: auto;
  font-size: 18px;
  text-align: center;
  margin: 10px auto;
}

.flow .inputs {
  height: auto;
  width: auto;
  text-align: center;
  margin: auto 12em;
}

.flow .yellow-block {
  background-color: #F9E559;
  border-style: solid;
}

.flow .buffer {
  height: 2em;
  width: auto;
  background-color: white;
  border-style: none;
}

.flow .stretch {
    flex: 1;
}

.title-heading {
  font-size: 48px;
  text-align: center;
  margin: 40px auto 10px auto;
  color: #EF7126;
}

.customer-block {
  height: auto;
}

.earnings-block {
  height: auto;
  border: thick solid;
  padding: 0.5em 0;
}

input {
  margin: 0.5em;
  border: 1.5px solid black;
  width: 5em;
  height: 1.5em;
}

.meal {
    width: 50%;
    height: 5em;
    margin: 2em auto;
}

.meal span {
  float: right;
  margin-right: 3em;
  font-size: 20px;

}

.earnings-block {
  background-color: #6CCECB;
}

.customer-block div, .earnings-block div {
    height: auto;
    margin: 0.5em auto;
    text-align: left;
    font-size: 20px;

}

.customer-block div {
    width: 65%;
}

.customer-block span, .earnings-block span {
    float: right;
}

.earnings-block div {
    width: 65%;
}

.error {
  color: red;
  font-weight: bold;
  font-size: 18px;
}

a:active {
    background-color: yellow;;
}

h1 {
  text-align: center;
  font-size: 22px;
  margin: 0.5em auto;
}

.home {
  text-align: left;
  margin: auto 12em;
  font-size: 16px;
  font-weight: bold;
}

hr {
    border: 0;
    border-bottom: 2px solid #473E3F;
    background: #473E3F;
}

button {
  display: inline-block;
  margin: 0 auto;
  height: 3em;
  width: 10em;
  background-color: #EF7126;
  margin-top: 2em;
  font-weight: bold;
  color: white;
}

.button {
  display: inline-block;
}

.reset {
  float: right;
}

@media (max-width: 950px) {
  .flow .inputs, .home {
    margin: auto 6em;
  }
  .inputs h1 {
    font-size: 18px;
  }
  .inputs span {
    font-size: 18px;
  }
  .inputs .error {
    font-size: 12px;
  }
  p {
    font-size: 16px;
  }
  .customer-block div, .earnings-block div {
    margin: 1.5em auto;
  }
}

@media (max-width: 1000px) {
  .meal span {
    margin-right: 2em;
  }
}


