body {
  margin: 0 5em;
  font-family: "Lucida Grande", Arial, Serif;
  color: #473E3F;
}

.flow {
    display: flex;
}

.flow .title {
  height: auto;
  width: auto;
}

.flow .inputs {
  height: auto;
  width: auto;
  border-style: solid;
  text-align: center;
  background-color: #218C8D;
}

.flow .yellow-block {
  background-color: #F9E559;
}

.flow .buffer {
  height: auto;
  width: 4em;
}

.flow .stretch {
    flex: 1;
}

.title-heading {
  font-size: 48px;
  text-align: center;
  margin: 40px auto;
  color: #EF7126;
}

.customer-block {
  height: 15em;
}

.earnings-block {
  height: 15em;
  border-top: thick solid;
}

input {
  margin: 0.5em;
  border: 1.5px solid black;
  width: 5em;
  height: 1.5em;
}

.meal {
    width: 85%;
    height: 15em;
    margin: 2em auto;
}

.meal span {
  float: right;
  margin-right: 3em;
  font-size: 20px;

}

.earnings-block {
  background-color: #6CCECB;
}

.customer-block div, .earnings-block div {
    height: auto;
    margin: 0.5em auto;
    text-align: left;
    font-size: 20px;

}

.customer-block div {
    width: 65%;
}

.customer-block span, .earnings-block span {
    float: right;
}

.earnings-block div {
    width: 65%;
}

.error {
  color: red;
  font-weight: bold;
  font-size: 12px;
}

h1 {
  text-align: center;
  font-size: 22px;
}

hr {
    border: 0;
    border-bottom: 2px solid #473E3F;
    background: #473E3F;
}

button {
  display: inline-block;
  margin: 0 auto;
  height: 3em;
  width: 10em;
  background-color: #EF7126;
  margin-top: 2em;
  font-weight: bold;
  color: white;
}

.reset {
  float: right;
}

@media (max-width: 950px) {
  .inputs h1 {
    font-size: 18px;
  }
  .inputs span {
    font-size: 18px;
  }
  p {
    font-size: 16px;
  }
  .customer-block div, .earnings-block div {
    margin: 1.5em auto;
  }
}

@media (max-width: 1000px) {
  .meal span {
    margin-right: 2em;
  }
}


