<!DOCTYPE html>
<html lang="en" ng-app="waitstaffCalc">
<head>
  <meta charset="UTF-8">
  <title>Waitstaff Calculator</title>
  <link href="css/style.css" rel="stylesheet">
  <script src="https://code.angularjs.org/1.3.10/angular.js"></script>
  <script src="./js/waitstaff.js"></script>
</head>
<body>
  <header class="flow">
    <div class="title stretch">
      <div class="title-heading">Waitstaff Calculator</div>
    </div>
  </header>
  <section class="flow" ng-controller="inputCtrl">
    <div class="inputs stretch">
        <h1>Enter the Meal Details</h1>
        <hr>
        <div class="meal">
          <form name="mealForm" novalidate>
            <span>Base Meal Price:  $ <input type="number" name="price" step="0.01" ng-min="0.01" ng-model="price"/></span><br>
            <span>Tax Rate:  % <input type="number" name="tax" ng-max="percentageMax" ng-min="0" ng-model="tax"/></span><br>
            <span>Tip Percentage:  % <input type="number" name="tip" ng-max="percentageMax" ng-min="0" ng-model="tip"/></span><br>
          </form>
        </div>


        <button ng-click="submit()">Submit</button>
        <button>Cancel</button>
        <br><br>
        <span class="error" ng-model="errorMsg">{{ errorMsg }}</span>

    </div>
    <div class="buffer">
    </div>
    <div class="inputs stretch">
      <div class="customer-block">
        <h1>Customer Charges</h1>
        <hr>
        <div>
          <p>Subtotal  <span>${{ subtotalStr }}</span></p>
          <p>Tip  <span>${{ tipDollarsStr }}</span></p>
          <hr>
          <p>Total  <span>${{ mealTotalStr }}</span></p>
        </div>
      </div>
      <div class="earnings-block">
        <h1>My Earnings Info</h1>
        <hr>
        <div>
          <p>Tip Total:  <span>${{ tipCountStr }}</span></p>
          <p>Meal count:  <span>${{ mealCountStr }}</span></p>
          <hr>
          <p>Avg Tip Per Meal:  <span>{{ avgTipStr }}%</span></p>
        </div>
      </div>
    </div>
  </section>
  <button class="reset" ng-click="startOver()">
          Reset
  </button>


</body>
</html>
